{
  "root": true,
    "env": {
      "node": true,
      "jest/globals": true
    },
    "plugins": [
      "jest"
    ],
    "extends": [
      "plugin:vue/essential",
      "eslint:recommended",
      "plugin:prettier/recommended"
    ],
    "rules": {
      "jest/no-disabled-tests": "warn",
      "jest/no-focused-tests": "error",
      "jest/no-identical-title": "error",
      "jest/prefer-to-have-length": "warn",
      "jest/valid-expect": "error"
    },
    "parserOptions": {
      "parser": "babel-eslint"
    }
}